@import "tailwindcss";

:root {
  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;

  --nav-height: 70px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  line-height: 1.6;
  overflow-x: hidden;
}
